Idler/HtmlAgilityPack.dll
Idler/IDLE new.bat
Idler/IdleMasterExtended.exe
Idler/IdleMasterExtended.exe.config
Idler/SAM.API.dll
Idler/SaM.Game.exe
Idler/SAM.Picker.exe
Idler/steam_api.dll
Idler/steam-idle.exe
Idler/Steamworks.NET.dll
Idler/Languages/cs/IdleMasterExtended.resources.dll
Idler/Languages/de/IdleMasterExtended.resources.dll
Idler/Languages/el/IdleMasterExtended.resources.dll
Idler/Languages/es/IdleMasterExtended.resources.dll
Idler/Languages/fi/IdleMasterExtended.resources.dll
Idler/Languages/fr/IdleMasterExtended.resources.dll
Idler/Languages/hr/IdleMasterExtended.resources.dll
Idler/Languages/hu/IdleMasterExtended.resources.dll
Idler/Languages/it/IdleMasterExtended.resources.dll
Idler/Languages/ja/IdleMasterExtended.resources.dll
Idler/Languages/ko/IdleMasterExtended.resources.dll
Idler/Languages/nl/IdleMasterExtended.resources.dll
Idler/Languages/no/IdleMasterExtended.resources.dll
Idler/Languages/pl/IdleMasterExtended.resources.dll
Idler/Languages/pt/IdleMasterExtended.resources.dll
Idler/Languages/pt-BR/IdleMasterExtended.resources.dll
Idler/Languages/ro/IdleMasterExtended.resources.dll
Idler/Languages/ru/IdleMasterExtended.resources.dll
Idler/Languages/sv/IdleMasterExtended.resources.dll
Idler/Languages/th/IdleMasterExtended.resources.dll
Idler/Languages/tr/IdleMasterExtended.resources.dll
Idler/Languages/uk/IdleMasterExtended.resources.dll
Idler/Languages/zh/IdleMasterExtended.resources.dll
Idler/Languages/zh-TW/IdleMasterExtended.resources.dll
Idler/profiles/Idle Normal.bat
Idler/profiles/idle.bat
__pycache__/app.cpython-313.pyc
presets/IDLE new.bat
presets/IDLE new.json
requirements.txt
