static/Idler/HtmlAgilityPack.dll
static/Idler/IdleMasterExtended.exe
static/Idler/IdleMasterExtended.exe.config
static/Idler/SAM.API.dll
static/Idler/SaM.Game.exe
static/Idler/SAM.Picker.exe
static/Idler/steam_api.dll
static/Idler/steam-idle.exe
static/Idler/Steamworks.NET.dll
static/Idler/Languages/cs/IdleMasterExtended.resources.dll
static/Idler/Languages/de/IdleMasterExtended.resources.dll
static/Idler/Languages/el/IdleMasterExtended.resources.dll
static/Idler/Languages/es/IdleMasterExtended.resources.dll
static/Idler/Languages/fi/IdleMasterExtended.resources.dll
static/Idler/Languages/fr/IdleMasterExtended.resources.dll
static/Idler/Languages/hr/IdleMasterExtended.resources.dll
static/Idler/Languages/hu/IdleMasterExtended.resources.dll
static/Idler/Languages/it/IdleMasterExtended.resources.dll
static/Idler/Languages/ja/IdleMasterExtended.resources.dll
static/Idler/Languages/ko/IdleMasterExtended.resources.dll
static/Idler/Languages/nl/IdleMasterExtended.resources.dll
static/Idler/Languages/no/IdleMasterExtended.resources.dll
static/Idler/Languages/pl/IdleMasterExtended.resources.dll
static/Idler/Languages/pt/IdleMasterExtended.resources.dll
static/Idler/Languages/pt-BR/IdleMasterExtended.resources.dll
static/Idler/Languages/ro/IdleMasterExtended.resources.dll
static/Idler/Languages/ru/IdleMasterExtended.resources.dll
static/Idler/Languages/sv/IdleMasterExtended.resources.dll
static/Idler/Languages/th/IdleMasterExtended.resources.dll
static/Idler/Languages/tr/IdleMasterExtended.resources.dll
static/Idler/Languages/uk/IdleMasterExtended.resources.dll
static/Idler/Languages/zh/IdleMasterExtended.resources.dll
static/Idler/Languages/zh-TW/IdleMasterExtended.resources.dll
requirements.txt
Idler/HtmlAgilityPack.dll
Idler/IdleMasterExtended.exe
Idler/IdleMasterExtended.exe.config
Idler/SAM.API.dll
Idler/SaM.Game.exe
Idler/SAM.Picker.exe
Idler/steam_api.dll
Idler/steam-idle.exe
Idler/Steamworks.NET.dll
Idler/Languages/cs/IdleMasterExtended.resources.dll
Idler/Languages/de/IdleMasterExtended.resources.dll
Idler/Languages/el/IdleMasterExtended.resources.dll
Idler/Languages/es/IdleMasterExtended.resources.dll
Idler/Languages/fi/IdleMasterExtended.resources.dll
Idler/Languages/fr/IdleMasterExtended.resources.dll
Idler/Languages/hr/IdleMasterExtended.resources.dll
Idler/Languages/hu/IdleMasterExtended.resources.dll
Idler/Languages/it/IdleMasterExtended.resources.dll
Idler/Languages/ja/IdleMasterExtended.resources.dll
Idler/Languages/ko/IdleMasterExtended.resources.dll
Idler/Languages/nl/IdleMasterExtended.resources.dll
Idler/Languages/no/IdleMasterExtended.resources.dll
Idler/Languages/pl/IdleMasterExtended.resources.dll
Idler/Languages/pt/IdleMasterExtended.resources.dll
Idler/Languages/pt-BR/IdleMasterExtended.resources.dll
Idler/Languages/ro/IdleMasterExtended.resources.dll
Idler/Languages/ru/IdleMasterExtended.resources.dll
Idler/Languages/sv/IdleMasterExtended.resources.dll
Idler/Languages/th/IdleMasterExtended.resources.dll
Idler/Languages/tr/IdleMasterExtended.resources.dll
Idler/Languages/uk/IdleMasterExtended.resources.dll
Idler/Languages/zh/IdleMasterExtended.resources.dll
Idler/Languages/zh-TW/IdleMasterExtended.resources.dll
